body, #switch-background
{
	transition: color 3s, background-color 3s, background-image 3s;
}
.header
{
	display:flex;
	justify-content: space-around;
}
/*.header img
{
	width:24px;
	height:24px;
}*/
#switch-background 
{
	--bg-size: 32px;/* Объявляем переменную и используем через var */
	width: var(--bg-size);
	height: var(--bg-size);
	background-size: var(--bg-size) var(--bg-size);
}
.dark {
	background-color: #323232;
	color: #C8C8C8;
	/*transition: color 3s;
	transition: background-color 3s;*/
}
.dark #switch-background 
{
	background-image: url("sun.png");
	filter: brightness(0) invert(1);
}
.light 
{
	background-color: white;
	color: black;
/*	transition: color 3s;
	transition: background-color 3s;*/
}
.light #switch-background
{
	background-image:url("moon.png");
}
/*/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--*/
#switch-bg-container, #switch-bg-container > div
{
	display:flex;
	background-repeat:no-repeat;
	width:30%;
	justify-content: space-evenly;
	/*padding: 0 8px;*/
}
/*/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--*/
input, div, button {
	font-size: 18px;
}
button
{
	width:10%;
}
input
{
	width:60px;
}
#image-file
{
	width:360px;
}
.task {
	width: 110%;
	/*border:solid 1px;*/
	/*display: flex;*/
}

.result 
{
	width: 55%;
}
.pair
{
	text-align:right;
}
label
{
	width:50%;
}
.result
{
	border:dotted 1px;
	width:422px;
	overflow:scroll;
	overflow-wrap:anywhere;
}
.images-and-colors
{
	width:80%;
	display:flex;
	/*justify-content: space-between;*/
}
.image-container {
	border: solid 1px;
}
.image-container, #image {
	width: 400px;
	height: 300px;
}
.select-colors
{
	display:flex;
	justify-content:space-between;
	margin:12px;
}
#mouse
{
	border: solid 1px;
	width: 200px;
	height:20px;
	text-align:center;
}
/*/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--*/
#clock, #clock div, h2
{
	font-size:32px;
}
#clock
{
	width:99%;
	display:flex;
	flex-direction:column;
	text-align:center;
}
