input, div, button {
	font-size: 18px;
}
button
{
	width:10%;
}
input
{
	width:60px;
}
.task {
	width: 110%;
	/*border:solid 1px;*/
	/*display: flex;*/
}

.result 
{
	width: 55%;
}
.pair
{
	text-align:right;
}
label
{
	width:50%;
}
.result
{
	border:dotted 1px;
	width:422px;
	overflow:scroll;
	overflow-wrap:anywhere;
}
