input, div, button {
	font-size: 18px;
}
button
{
	width:10%;
}
input
{
	width:50px;
}
.task {
	width: 110%;
	/*border-bottom:solid 1px;*/
	/*display: flex;*/
}

.result 
{
	width: 55%;
}
.pair
{
	text-align:right;
}
label
{
	width:50%;
}
#factorial-result
{
	overflow:scroll;
	overflow-wrap:anywhere;
}
