@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body
{
	font-family: Roboto Condensed;
	font-size: 18px;
	padding: 0 32px;
	background-image: linear-gradient(to bottom right, lightskyblue, pink);
	background-attachment:fixed;
}
#h1-home {
	font-family: Roboto Condensed;
	font-size: 64px;
	font-weight: 1000;
	text-shadow: -3px -3px 7px blanchedalmond, -3px -3px 7px blanchedalmond, -3px -3px 7px blanchedalmond;
	color: #ffffff00;
}
ul
{
	list-style:none;
}
details
{/*
	border: solid 1px;
	margin:5px;
	border-radius: 8px;*/
	font-weight: 500;
	/*border: solid 1px;*/
	border-radius: 8px;
	margin: 5px;
	padding: 10px;
	box-shadow: inset 0 0 16px 0 gray, inset 0 0 16px 0 lightskyblue, inset 0 0 16px 0 lightskyblue, inset 0 0 16px 0 lightskyblue, inset 0 0 16px 0 gray, inset 0 0 16px 0 gray;

}
summary 
{
	font-size: 32px;

}
.circle {
	float: left;
	height: 50px;
	width: 50px;
	shape-outside: circle();
	clip-path: circle();
	background: linear-gradient(to top right, #FDB171, #FD987D);
}
/*  ye */
ol{
	border: solid 1px;

}
