@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body
{
	font-family:'Roboto Condensed';
	font-size:18px;
	padding:1% 5%;
}
p
{
	text-align:justify;
}
p:first-letter
{
	padding-left:1%;
	font-size:200%;
	font-family:'Rosewood Std';
}
figure
{
	text-align:center;
	font-style:italic;
	font-weight:100;
}
ul
{
	list-style:none;
}
a
{
	text-decoration:none;
}
a:visited
{
	color:green;
}

a:hover
{
	font-weight:800;
	background-color:black;
	color: white;
}