/*https://habr.com/ru/articles/816349/   Flex*/
body {
	background-image: url("bliss.jpg");
	background-size: cover; /* Подстраивается под окно */
	background-position: center center; /* Центрируем изображение */
	background-repeat: no-repeat; /* Не повторяем */
	background-attachment: fixed; /* Фиксируем при прокрутке */
	font-family: Tahoma;
}

.main-window {
	/*border: solid 1px;*/
	width: 400px;
	height: 300px;
}

.title-bar {
	color: white;
	text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;
	width: 100%;
	height: 38px;
	border: solid 1px rgb(45, 138, 141);
	background-image: linear-gradient(rgb(172, 216, 217), rgb(95, 158, 160), rgb(95, 158, 160), rgb(45, 138, 141), rgb(45, 138, 141), rgb(17, 91, 94));
	box-shadow: 0 0 5px 0 rgb(45, 138, 141) inset, 0 0 5px 0 rgb(45, 138, 141) inset, 0 0 5px 0 rgb(45, 138, 141) inset;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*gap: 2px;*/
}

.title-bar-left-side {
	display: flex;
	align-items: center;
}

.title-bar-right-side {
	display: flex;
	align-items: flex-end;
}

.app-icon {
	width: 24px;
	height: 24px;
}

.title-bar-left-side, .title-bar-right-side {
	margin: 0 8px;
}

.control-button {
	font-size: 24px;
	color: white;
	margin: 2px;
	width: 32px;
	height: 32px;
	/*position: sticky;
	text-emphasis-position:over;*/
	/*font-stretch: 250%;*/
	font-weight: 1000;
	/*font-size:100%;*/
	border: solid 1px rgb(95, 158, 160);
	border-radius: 4px;
	background-image: linear-gradient(to bottom right, rgb(172, 216, 217), rgb(95, 158, 160), rgb(17, 91, 94), rgb(7, 52, 53));
	box-shadow: inset 1px 1px 1px 0px rgb(172, 216, 217);
}

	.control-button:hover {
		/*background-image:none;*/
		/*background-image: linear-gradient(to bottom right, #ffffff2c, #AAAAAA2C);*/
		/*background-color: rgb(255, 0, 0);*/
		background-image: linear-gradient( to bottom right, rgb(192, 248, 200), rgb(128, 198, 160), rgb(77, 91, 128), rgb(17, 152, 53) );
	}

	.control-button:active {
		color: gray;
		border-color: gray;
	}

.close-button {
	background-image: linear-gradient(to bottom right, white, rgb(255, 0, 0) );
	box-shadow: inset 1px 1px 2px 0px rgb(125, 38, 38), inset 1px 1px 2px 0px rgb(125, 38, 38), inset 1px 1px 2px 0px rgb(125, 38, 38);
}

	.close-button:hover {
		background-image: linear-gradient(to bottom right, rgb(255, 125, 125), rgb(91, 17, 17) );
		box-shadow: inset 1px 1px 2px 0px rgb(125, 38, 38), inset 1px 1px 2px 0px rgb(125, 38, 38), inset 1px 1px 2px 0px rgb(125, 38, 38);
	}

.exp_ {
	margin-top: -5px;
	margin-left: -2px;
}

.exp- {
	margin-top: -6px;
	margin-left: -3px;
}

.expx {
	margin-top: -3px;
	margin-left: 0px;
}

.control-button[disabled], .control-button[disabled]:hover, .control-button[disabled]:active {
	color: dimgrey;
	border-color: dimgrey;
	border: solid 1px rgb(95, 158, 160);
	border-radius: 4px;
	background-image: linear-gradient(to bottom right, rgb(172, 216, 217), rgb(95, 158, 160), rgb(17, 91, 94), rgb(7, 52, 53));
	box-shadow: inset 1px 1px 1px 0px rgb(172, 216, 217);
}
/*.control-button[disabled]:hover
{
	background-image:unset;
	color:darkgray;
	border-color: darkgray;
}
.control-button[disabled]:active
{
	color:gray;
	border-color: gray;
}*/
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
.client-rect {
	width: 401px;
	height: 262px;
	background-color: rgb(95, 158, 160);
	box-shadow: inset 0px 0px 1px 1px rgb(34, 103, 105);
	/*border:solid 3px;*/
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.work-area {
	width: 99%;
	height: 259px;
	background-color: rgb(146, 197, 198);
	background-color: rgb(146, 197, 198);
	box-shadow: inset 0 0 1px 0px rgb(34, 103, 105);
}
.menu-bar
{
	border-bottom: groove 4px rgb(172, 216, 217);
}

.menu-button 
{
	background-color:transparent;
	border: none;
}
	.menu-button:hover 
	{
		color:white;
		background-color: rgb(34, 103, 105);
	}
	.menu-button, .menu-button:hover
	{
		height:24px;
	}
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
.display-container
{
	display:flex;
	justify-content:center;
}
.display, .display:active
{
	width: 96%;
	border-radius:0;
	border-color: rgb(172, 216, 217);
	/*border-style:none;
	border:solid 1px gray;*/
	margin:4px;

}
input:focus-visible
{
	outline:none;
}