/*https://habr.com/ru/articles/816349/   Flex*/
body {
	background-image: url("bliss.jpg");
	background-size: cover; /* Подстраивается под окно */
	background-position: center center; /* Центрируем изображение */
	background-repeat: no-repeat; /* Не повторяем */
	background-attachment: fixed; /* Фиксируем при прокрутке */
	font-family: Tahoma;
}

.main-window {
	/*border: solid 1px;*/
	width: 400px;
	height: 300px;
}

.title-bar {
	color: white;
	text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;
	width: 100%;
	height: 38px;
	border: solid 1px rgb(45, 138, 141);
	background-image: linear-gradient(rgb(172, 216, 217), rgb(95, 158, 160), rgb(95, 158, 160), rgb(45, 138, 141), rgb(45, 138, 141), rgb(17, 91, 94));
	box-shadow: 0 0 5px 0 rgb(45, 138, 141) inset, 0 0 5px 0 rgb(45, 138, 141) inset, 0 0 5px 0 rgb(45, 138, 141) inset;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2px;
}

.title-bar-left-side {
	display: flex;
	align-items: center;
}

.title-bar-right-side {
	display: flex;
	/*align-items: flex-end;*/
}

.app-icon {
	width: 24px;
	height: 24px;
}

.title-bar-left-side, .title-bar-right-side {
	margin: 0 8px;
}

.control-button {
	font-size: 24px;
	color: white;
	margin: 2px;
	width: 32px;
	height: 32px;
	/*position: sticky;
	text-emphasis-position:over;*/
	/*font-stretch: 250%;*/
	font-weight: 1000;
	/*font-size:100%;*/
	border: solid 1px rgb(95, 158, 160);
	border-radius: 4px;
	background-image: linear-gradient(to bottom right, rgb(172, 216, 217), rgb(95, 158, 160), rgb(17, 91, 94), rgb(7, 52, 53));
	box-shadow: inset 1px 1px 1px 0px rgb(172, 216, 217);
}

.close-button {
	background-image: linear-gradient(to bottom right, white, rgb(255, 0, 0) );
	box-shadow: inset 1px 1px 2px 0px rgb(125, 38, 38), inset 1px 1px 2px 0px rgb(125, 38, 38), inset 1px 1px 2px 0px rgb(125, 38, 38);
}

.fold-button {
	justify-self: start;
	padding-inline: 0px;
	/*padding: 0px 0 32px 0;*/
	top: 0;
	/*font-size:100%;*/
	/*padding:2px 2px 0px 2px;*/
}

.exp_{
	padding-inline: 0px;
	margin-top: -5px;
	margin-left:-2px;
}
.exp-{
	padding-inline: 0px;
	margin-top: -6px;
	margin-left:-3px;
}
.expx{
	padding-inline: 0px;
	margin-top: -3px;
	margin-left:0px;
}
